<root>
	<FileGroup Name="generated/plugins.js">
	</FileGroup>
	<FileGroup Name="generated/app.js">
		<!-- Add PrettyFile="false" to bypass beautifying -->
		<File Path="app/config/AppConfig.js" />
		<File Path="app/router/AppRouter.js" />
		<File Path="app/app.utilities.js" />
		<File Path="app/app.global.js" />
		<File Path="app/app.analytics.js" />
	</FileGroup>
</root>
