//
// layouts: home.scss
//
//

// Variables
$black: rgb(0, 0, 0);
$darkGrey: lighten($black, 20%);
$mediumGrey: lighten($black, 50%);
$lightGrey: lighten($black, 75%);
$pageWidth: 960px;

body {
	min-width: $pageWidth;
	background: $darkGrey;
}

#section-main {
	overflow: auto;
	position: relative;
}

#section-content {
	width: $pageWidth;
	margin: 0 auto;
	h1 {
		font: bold 250% / 200% helvetica, arial, sans-serif;
		&:hover {
			margin: 0;
		}
		margin-top: 100px;
		color: $lightGrey;
	}
	p {
		color: $mediumGrey;
		font-size: 180%;
	}
}

#fork-me {
	@include sprite-background-image("forkme", $setHeight: true, $setWidth: true);
	border: 0;
	display: block;
	right: 0;
	position: absolute;
	text-indent: -9999px;
	top: 0;
	&:hover {
		@include sprite-background-position("forkme-hover");
	}
}
