// 00.global.scss

@import "_modules/_variables.scss";
@import "_modules/_mixins.scss";

@import "_vendor/_normalize.scss";
@import "_vendor/_grid.generator.scss";


/********************************************************** Viewport */

@-webkit-viewport{width:device-width}
   @-moz-viewport{width:device-width}
    @-ms-viewport{width:device-width}
     @-o-viewport{width:device-width}
        @viewport{width:device-width}


/********************************************************** Grid */

/* Grid disabled by default
// Generate the grid
@include gridGenerator(
  (0, $breakpoint-s, $breakpoint-m, $breakpoint-l), // breakpoints
  'em',        // breakpoint type 'px' or 'em'
  12,          // number of grid columns
  $space,      // outer padding
  ($space /2), // inner padding
  (mobile-,s-,m-,l-) // grid prefixes: l-grid-half
);


// Additional Grid Classes
.grid-centered {
  float: none;
  margin: 0 auto;
}
*/


/********************************************************** Box Sizing *
  Box Sizing
  Apply a natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/
  border-box polyfill for IE 6/7: https://github.com/Schepp/box-sizing-polyfill#readme
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(boxsizing.htc);
}


/********************************************************** General */

::-moz-selection { background: $black; color: $white; }
::selection { background: $black; color: $white; }


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $white;
}

img { max-width: 100%; }

a {
  color: $black;
  text-decoration: underline;
  @include color-each-pseudo-element-link($black, $black, $black, $black);

  &:focus { outline: thin dotted; } 
  &:hover, &:active { outline: 0; }
}
