// 01._typography.scss

@import "_modules/_variables.scss";
@import "_modules/_mixins.scss";
@import "_modules/_animations.scss";

@import "compass/css3/font-face";


/********************************************************** @font-face */

// http://compass-style.org/reference/compass/css3/font_face/
//@include font-face();

/*
@font-face {
    font-family: 'FONT';
    font-style: 'normal';
    font-weight: 'normal';
    src: url('../fonts/FONT.eot');                    // IE9 Compat Modes 
    src: url('../fonts/FONT.eot?#iefix') format('embedded-opentype'), // IE6-IE8 
         url('../fonts/FONT.woff') format('woff'),    // Modern Browsers 
         url('../fonts/FONT.svg#FONT') format('svg'), // Legacy iOS 
         url('../fonts/FONT.ttf') format('truetype'); // Safari, Android, iOS 
}
*/


/********************************************************** @font-face : Icons */

// NOTE: Specific icon classes at the end of this file under Icons

/*
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icons/icomoon.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icons/icomoon.eot');
  src:url('../fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icons/icomoon.woff') format('woff'),
      url('../fonts/icons/icomoon.ttf') format('truetype'),
      url('../fonts/icons/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icomoon';
    src:url('../fonts/icons/icomoon.svg#icomoon') format('svg');
  }
}
*/


/********************************************************** Typography */

body {
  color: $black;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

                    font-size: $font-size-base; // 16px
  // Optionally control font size based on breakpoints                  
  //@include mq($M) { font-size: get-multiplier(17, $font-size-base) + em; } // 17px = 1.0625em
  //@include mq($L) { font-size: get-multiplier(18, $font-size-base) + em; } // 18px = 1.125em
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

// tag and CLASS
h1, .heading-1 { @include heading-1(); }
h2, .heading-2 { @include heading-2(); }
h3, .heading-3 { @include heading-3(); }
h4, .heading-4 { @include heading-4(); }
h5, .heading-5 { @include heading-5(); }
h6, .heading-6 { @include heading-6(); }


p {
  line-height: get-multiplier(24, $font-size-base); // 24/16
  margin: 0;
  padding: 0 0 $space;
}

ul, ol, dl {
  line-height: get-multiplier(24, $font-size-base); // 24/16
  list-style: none;
  margin: 0 0 0 $space;
  padding: 0 0 ($space/2);
}

p  ul,
ul ul,
ol ul,
p  ol,
ul ol,
ol ol {
  padding-bottom: 0;
}

strong {
  font-weight: bold;
}

code {
  font-size: $font-size-6;
  line-height: get-multiplier(24, $font-size-6); // 24/14
}


/********************************************************** Icons */

/*
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== * /
  -moz-osx-font-smoothing: grayscale;


  // hide icon names when fontface is supported
  .fontface & span { display: none; }
}
*/
