// 05._shame.scss

// A collection of nasty, hacky, quick-fix CSS.
//  csswizardry.com/2013/04/shame-css/
// NOTE: document to explain what they do and why they are needed.

@import "_modules/_variables.scss";
@import "_modules/_mixins.scss";


/********************************************************** _widget_name_ */

